
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div#a {background-color: green;}
#a {background-color: yellow;}
div[id=a] {background-color: blue;}

